html, body{
    padding: 0px;
    margin: 0px;
    width: 100%;
}

.heading{
    background-color: rgb(22, 82, 240);
}

.nav-header{
    height: 72px;
    display: block;
    padding: 0px 16px;
} 
.ostalo{

}